.imgInfoArticulo{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50px;
}

.imgArticulo{
    max-width: 800px;
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

#infoArticulo{
    display: flex;
    align-items: end;
}