.jumbotron{
    height: 15rem;
}
.jumbotron h1{
    font-size: 2rem;
    margin-top: 4rem;
    text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}
#contenidoArticulo, #formularioArticulo{
    border: 1px solid gray;
    padding: 8px;
}
.label-aviso{
    font-size: 4rem;
    background-color: rgb(228, 43, 43);
}
.label-volver{
    font-size: 2rem;
    background-color: green;
}
.container{
    margin-bottom: 15rem;
    width: 100%;
}


