#filtro{
    width: 100%;
    display:flex;
    justify-content:center;
}
.dropdown-menu>li>a.dropdown-item.disabled,
.dropdown-menu>li>a.dropdown-item.disabled:visited,
.dropdown-menu>li>a.dropdown-item.disabled:active,
.dropdown-menu>li>a.dropdown-item.disabled:hover{
   background-color:white;
   color:#aaa !important;
}