.container.containerImagenes{
    margin: auto;
    width: 50%;
}
.container.containerArticulos{
    margin: 77px auto;
}
.imgArticulo{
    padding: 0;
}
.jumbotron h1{
    font-size: 2rem;
    margin-top: 4rem;
    text-shadow: 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
}
.row{
    margin: auto;
}
.caja{
    border: 1px solid gray;
    padding: 8px;
}
.label-aviso{
    font-size: 4rem;
    background-color: rgb(228, 43, 43);
}
.label-volver{
    font-size: 2rem;
    background-color: green;
}
#relacionados{
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.container-fluid.text-center.footerBS{
    margin-bottom: -100px;
}
textarea{
    width: 100%;
    height: auto;
}
.editar{
    cursor:pointer;
}
.thumbnail{
    margin-top: 1rem;
}
.list-group input[type="radio"]{
    display: none;
}
input[type="radio"]{
    display: none;
}
.label.label-default {
   background-color: white;
   box-sizing: border-box;
   border-radius: 10px;
   border: 1px solid #337ab7;
   color: #337ab7;
   padding: 1.2rem;
   cursor: pointer;
}

.label.label-success.respuesta, .label.label-danger.respuesta {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1.2rem;
 }
 input[type="radio"].elegirCorrecta:checked + label >span {
    background-color: #337ab7;
    color: white;
}
.form-control{
    background-color: rgb(224, 224, 224);
    margin: 1rem 0;
}
.correcta{
    margin: 1rem 0;
}


