body{
    min-height: 100%;
}
.row{
    margin:auto;  
}

.btn-group{
    width: 100%;
}
.btn-group > .btn{
    width: 50%;
    background-color: #1b3c59;
    border-color: #305d83; 
}
li rol{
    color: white;
}
.container{
    padding-top: 10rem;
    padding-bottom: 12rem;  
}
.filaUsuario, .filaArticulo{
    background-color: rgb(202, 202, 202);
    box-shadow: 3px 3px 4px #111;
    height: auto;
    width: auto;
    padding-top: 1.5rem;
    border: 0.5rem solid black;
}

.datosUsr{
    margin: auto;
}
.datosUsr > h6{
    font-size: 1em;
}

/*CSS Busqueda usuarios*/
.imgUsr, .imgUsrArticulo{
    border-radius: 10%;
}
.imgUsrArticulo{
    margin-right: 1rem;
}
.imgUsr{
    width: 50px;
    height: 50px;
}
.imgUsrArticulo{
    width: 50px;
    height: 50px;
}
.infoRol{
    margin: 1rem auto;
}
.imgRol, .imgRolArticulos{
    border-radius: 50%;
}
.imgRolArticulos{
    margin-bottom: 30px;
}
.label.label-primary.col-xs-12{
    margin-bottom: 2px;
}
.h6{
    font-size: 20%;
}
.panel-default>.panel-heading.usuarios {
    height: 4rem;
}
.dropdown-menu>li>a:hover {
    background-color: #0077d8;
    color: white;
}
h4 small{
    color: rgb(128, 128, 128);
}
button.list-group-item, button.list-group-item:hover{
    color: #0077d8;
}
.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
    color: black;
    font-weight: bold;
    cursor: not-allowed;
    background-color: transparent;
    border-left: thick solid #ff8800;
}
#alert{
    margin-top: 2rem;
}
input[type="radio"]:checked + label >span, input[type="radio"]:checked:hover + label >span{
    background-color: #333;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}
.panel-group .panel {
    margin-bottom: 20px;
}

