body{
    min-height: 100%;
}
.row{
    margin:auto;  
}

.btn-group{
    width: 100%;
}
.btn-group > .btn{
    width: 50%;
    background-color: #1b3c59;
    border-color: #305d83; 
}
li rol{
    color: white;
}
.container{
    padding-top: 10rem;
    padding-bottom: 12rem;  
}
.filaUsuario, .filaArticulo{
    background-color: rgb(202, 202, 202);
    box-shadow: 3px 3px 4px #111;
    height: auto;
    width: auto;
    padding-top: 1.5rem;
    border: 0.5rem solid black;
}

.datosUsr{
    margin: auto;
}
.datosUsr > h6{
    font-size: 1em;
}

/*CSS Busqueda usuarios*/
.imgUsr, .imgUsrArticulo{
    border: 0.2rem solid black;
    border-radius: 10%;
}
.imgUsrArticulo{
    margin-right: 1rem;
}
.imgUsr{
    width: 50px;
    height: 50px;
}
.imgUsrArticulo{
    width: 50px;
    height: 50px;
}
.infoRol{
    margin: 1rem auto;
}
.imgRol, .imgRolArticulos{
    border-radius: 50%;
    border: 0.2rem solid black;
}
.imgRolArticulos{
    margin-bottom: 30px;
}
.label.label-primary.col-xs-12{
    margin-bottom: 2px;
}
.h6{
    font-size: 20%;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #132a3d;
    border-color: #132a3d;
    height: 4rem;
}
.tituloBody{
    padding-top: 1rem;
}
.dropdown-menu>li>a:hover {
    background-color: #305d83;
    color: white;
}
h4 small{
    color: rgb(196, 196, 196);
}
.accion{
    margin-top: -2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

