.ejercicios{
    border: 1px solid grey;
}

.ejercicio{
    border: 1px solid grey;
}

.tarjetas, .infoTarjeta{
    display: flex;
    flex-wrap: wrap;
    
}

.tarjetas {
    /*border: 1px solid grey;*/
}

.sinSub{
    text-decoration:none;  
}
.tarjeta{
    border-radius: 5px;
    width: 200px;
    margin: 5px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
}

.infoTarjeta{    
    border-radius: 5px 5px 0px 0px;
    align-items: end;
    justify-content: space-between;
    background-size: 200px;
    height: 100px;
    display: flex;
    width: 100%;
    color: white;
    text-shadow: 0px 0px 2px black;
    background-color: #008e76;
    font-size: 20px;
}

.infoTarjeta *{
    margin: 2px;
}

.contenidoTarjeta{
    width: 100%;
    color: black;
}

.contenidoTarjeta *{
    margin: 2px;
}

.iconoTarjeta{
    width: 32px;
    height: 32px;
}

.imgUser{
    border: 2px solid white;
    border-radius: 50px;
}