body{
    position: relative;
    /*incluir footer min-height: 100%;*/ 
    min-height: 100%;
}
html {
    height: 100%;
    box-sizing: border-box;
}
.logo-small {
    color: #00644b;
    font-size: 50px;
}
.contentBusqueda{
    padding-top: 12rem;
}
.container.containerExamenes{
    padding-top: 10rem;
    padding-bottom: 12rem;
}
.glyphicon.glyphicon-plus{
    color: #0077d8;
}
.glyphicon.glyphicon-plus:hover{
    color: #305d83;
}
.form-control{
    background-color: rgb(253, 253, 198);
}
a>.label-danger:hover{
    background-color: rgb(179, 54, 54);
}
a>.label-success:hover{
    background-color: #00644b;
}
a>.label-primary:hover{
    background-color: #305d83;
}
a.volver:link, a.volver:visited, a.registro:link, a.registro:visited{
    color: transparent;
}
a.volver:hover, a.registro:hover{
    color: transparent;
}
.back {
    border-radius: 0.8rem;
    font-size: 1.4rem;
    padding: 1.45rem 2rem 1.65rem 2rem;
}
span.label.label-danger.votos, span.label.label-success.votos{
    cursor: pointer;
} 