body{
    padding-bottom: 12rem;
    position: relative;
    /*incluir footer min-height: 100%;*/ 
    margin-top: 8rem;
}
html {
    height: 100%;
    box-sizing: border-box;
}
.logo-small {
    color: #00644b;
    font-size: 50px;
}
.content{
    margin:20rem;
    margin-top: 12rem;
    min-width: 80rem;
}


