body{
    position: relative;
    /*incluir footer min-height: 100%;*/ 
    min-height: 100%;
}
html {
    height: 100%;
    box-sizing: border-box;
}
.logo-small {
    color: #00644b;
    font-size: 50px;
}
.contentBusqueda, .contentArticulo{
    margin-right: 20rem;
    min-width: 80rem;
    margin-left: 10rem;
}
.contentBusqueda{
    padding-top: 12rem;
}
.contentArticulo{
    padding-top: 8rem;
    padding-bottom: 10rem;
}


