
.footerBS {
 position: absolute;
 right: 0;
 left: 0;
 bottom: 0;
 background-color: #f5f5f5;
 border-color: #ddd;
 padding-top: 2rem;
}
h5{
 color: #3d3d3d;
}
.imagenesFooter{
    height: 5rem;
}
.imgLogo{
    height: 3rem;
}	
