@font-face {
    font-family: digitalt;
    src: url(../files/fonts/Digitalt.otf);
}

@font-face {
    font-family: gravity;
    src: url(../files/fonts/Gravity-Regular.otf);
}

* {
    font-family: gravity;
}

/*Estilo del body*/
body {
    margin: 0; /*Quitamos los margenes para ocupar la ventana del navegador*/
    background-color: #f4f8ff;
    margin-top: 65px;
}

.primario{
    background-color: #00BFA5;
    color: black;
}

.primario-light{
    background-color: #5df2d6;
    color: black;
}

.primario-dark{
    background-color: #008e76;
    color: black;
}

.secundario{
    background-color: #FFCA28;
    color: black;
}

.secundario-light{
    background-color: #fffd61;
    color: black;
}

.secundario-dark{
    background-color: #c79a00;
    color: black;
}

.SVGsecundario{
    fill: #FFCA28;
    filter: drop-shadow( 0px 0px 2px #000 );
    stroke: black;
    stroke-width: 1px;
}

.SVGsecundario:hover{
    fill: #c79a00;
    filter: drop-shadow( 0px 0px 2px #000 );
}
/*Estilo de la barra superior*/
#topbar{
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
    z-index: 15;
    width: 100%;
    float: left;
    position: fixed;
    top:0px;
}

/*Estilo de la barra izqierda*/
#leftbar{
    background-color: #e8f0ff;
    width: 20%;
    float: left;
}

/*Estilo del contenido central*/
#content{
    width: 80%;
    float: right;
    /*background-color: #F6F6F6;*/
}

/*Estilo del pie de pagina*/
#footer{
    text-align: center;
    clear: both;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
    padding:10px;
}