@font-face {
    font-family: digitalt;
    src: url(../files/fonts/Digitalt.otf);
}

@font-face {
    font-family: gravity;
    src: url(../files/fonts/Gravity-Regular.otf);
}

* {
    font-family: gravity;
}

/*Estilo del body*/
body {
    margin: 0; /*Quitamos los margenes para ocupar la ventana del navegador*/
    background-color: #f4f8ff;
    margin-top: 65px;
}

/*Estilo de la barra superior*/
#topbar{
    background-color: white;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
    z-index: 15;
    width: 100%;
    float: left;
    position: fixed;
    top:0px;
}

/*Estilo de la barra izqierda*/
#leftbar{
    background-color: #e8f0ff;
    width: 20%;
    float: left;
}

/*Estilo del contenido central*/
#content{
    width: 80%;
    float: right;
    /*background-color: #F6F6F6;*/
}

/*Estilo del pie de pagina*/
#footer{
    text-align: center;
    clear: both;
    background-color: #dbedff;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.3);
    padding:10px;
}