
/* Full-width input fields */
/*Al haber asignado un id al formulario, tenemos */
#content{
    background: rgba(212, 212, 212, 0.158);
}
#titulo{
    text-align: center;
    padding: 20px;
    font-size: 80px;
}
#bloqueformRegistro{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#formularioRegistro {
    margin-bottom: 50px;
    padding: 20px 0;
    width:30%; 
}
#formularioRegistro input[type=text], #formularioRegistro input[type=password], #formularioRegistro input[type=email] {
    border-radius: 5px;
    width:300px;
    height: 40px;
    margin:3px;
}
#formularioRegistro input {
    margin-left: 100px;
    padding: 0px 5px;
    border: 0;
    background: rgba(224, 224, 224, 0.774);
    border-radius: 3px 0 0 3px;
}
.inputCheck{
    justify-content: center;
    align-items: center;
    width: 100%;
    display:flex;
    flex-direction: row;
}
#okAlias,#incorrectoAlias,#okEmail,#incorrectoEmail,#okPsw, #incorrectoPsw{
    width: 30px;
    margin: 5px;
    display:none;
}
#botones{
   width:100%;
   display: flex;
   justify-content:center;
}
.button {
    display: inline-block;
    margin: 3px;
    width: 120px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
  }
.cancelbutton {
    background-color: #f4511e;
  }
.okbutton {
    background-color: #18bd9c;
  } 
#ElegirRol{
    width: 100%;
    display:flex;
    justify-content:center;
}
.rol{
    display: inline-block;
    width: 100px;
    flex-direction:row;
    border-radius: 4px;
    border: none;
    padding: 20px 15px;
}
.rol input[type="radio"]{
     display: none;
}
.rol label{
   color:#18bd9c;
   border: 20px;
   padding:5px 15px 5px;
   display: inline-block;
   border-radius: 3px;
   cursor: pointer;
   position: relative;
   margin-right:10px;
   -o-transition: all 0.8s ease;
   -webkit-transition: all 0.8s ease;
   transition: all 0.5s ease;
}
.rolImage{
    width: 80px;
    flex-direction:row;
    padding: 20px 15px;
    cursor: pointer;
    border-radius: 100px;
    height:80px;
}
.rol label:hover{
    background: rgba(0,116,217,.2);
 }
 .rol input[type="radio"]:checked + label{
    padding: 5px 15px;
    background-color:  #18bd9c;
    border-radius: 2px;
    color:rgb(0, 0, 0);
}
.rol label:hover{
    background: rgba(0, 194, 152, 0.2);
 }



