
img {
    margin-bottom: 2rem;
}
body{
    background: linear-gradient(#ffffff, rgb(202, 202, 202), #ffffff);
    padding-bottom: 0;
}
.container.containerSignin{
    padding-top: 3rem;
    padding-bottom: 0;
}


