
/* Full-width input fields */
/*Al haber asignado un id al formulario, tenemos */
#bloqueformRegistro{
    width: 100%;
}
#formularioRegistro {
    margin-left: 300px;
    margin-bottom: 50px;
    padding: 20px 0;
    width:30%;
}
#formularioRegistro input[type=text], #formularioRegistro input[type=password] {
    width: 100%;
    display:flex;
}
#formularioRegistro input {
    flex-direction:column;
    margin:10px;
    height: 20px;
    padding: 0px 5px;
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}
.inputCheck{
    width: 100%;
    display:flex;
    flex-direction: row;
}
#okAlias,#incorrectoAlias,#okEmail,#incorrectoEmail,#okPsw, #incorrectoPsw{
    width: 30px;
    margin: 5px;
    display:none;
}
#botones{
   width:100%;
   display: flex;
   justify-content:center;
}
.button {
    display: inline-block;
    margin: 3px;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
  }
.cancelbutton {
    background-color: #f4511e;
   
  }
.okbutton {
    background-color: #247e00;
  }




