.navbar{
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: rgb(52, 184, 162);     
}
.navbar-inverse .navbar-toggle{
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: rgb(117, 216, 198);
    color: #000000;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: rgb(117, 216, 198);
}
.navbar-inverse{
    border-color: transparent;
}
.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: rgb(33, 119, 105);
    background-color: rgb(117, 216, 198);
}
a{
    color: #000000;
}
.navbar-inverse > a:hover, .navbar-nav > a:hover{
    color: #000000; 
    background-color: rgb(117, 216, 198);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(117, 216, 198);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000;
    background-color: rgb(117, 216, 198);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: rgb(56, 56, 56);
}
.dropdown-menu {
    background-color: rgb(52, 184, 162); 
    min-width: 0;
}
.dropdown-menu  > li > a:hover,.dropdown-menu > li > a:focus{
    background-color: rgb(117, 216, 198);
   
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: rgb(117, 216, 198);
}

/*ESTILO BUSCADOR*/

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
/*-------------------------------------*/

.form-wrapper {
    /*float: left;*/
    padding: 10px;
    margin:0px;
}

.form-wrapper input {
    height: 30px;
    padding: 0px 5px;
    float: left;
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input[name=search] {
    width: 75%;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    width: 25%;
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    font: bold 15px/40px;
    color: grey;
    text-transform: uppercase;
    background: #F8F3F3;
    /*#68EFAD;*/
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.form-wrapper button:hover {
    background: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button:active,
.form-wrapper button:focus {
    background: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #F8F3F3/*#68EFAD*/
    transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before {
    border-right-color: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button:focus:before {
    border-right-color: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


