.collapse.navbar-collapse{
    padding-top: 2rem;
}
.navbar-nav .open .dropdown-menu, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
    background-color: #f2f2f0;
    color:#333;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
    background-color: #0077d8;
    color: white;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #222;
}
.navbar-brand{
    height: 8rem;
}
.navbar-brand > img {
    max-height: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}
#imgUsr {
    height: 2.7rem;
    width: 3rem;
    margin-top: -3px;
}
.label.mylabel{
    background-color: #d9534f;
    font-family: 'Gravity';
    cursor:pointer;
}
.caret{
    cursor: pointer;
}
#login{
    font-size:0.8em; 
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #e5e5e5;
}
.navbar-inverse .navbar-toggle {
    margin-top: 2.5rem; 
    border-color: #e5e5e5;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a.dropdown-item.nivel:hover {
    background-color: #f2f2f0;
    color:#0077d8;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a.dropdown-item.pruebaNivel:hover {
    background-color: #d9534f;
    color:#e5e5e5;
}
@media (min-width: 1200px) {
    .navbar-right {
        padding-right: 15rem;
    }
}
/*ESTILO BUSCADOR*/

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
/*-------------------------------------*/

.form-wrapper {
    /*float: left;*/
    padding: 10px;
    margin-right: 2rem;
}

.form-wrapper input {
    height: 30px;
    padding: 0px 5px;
    float: left;
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input[name=search] {
    width: 75%;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper button {
    width: 25%;
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    font: bold 15px/40px;
    color: grey;
    text-transform: uppercase;
    background: #F8F3F3;
    /*#68EFAD;*/
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.form-wrapper button:hover {
    background: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button:active,
.form-wrapper button:focus {
    background: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #F8F3F3/*#68EFAD*/
    transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before {
    border-right-color: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button:focus:before {
    border-right-color: /*#00E676;*/
    #CFCFCF;
}

.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


