.container{
    padding-top: 10rem;
    padding-bottom: 20rem;  
}
.imgUsr{
    height: 12rem;
    width: 18rem;
}
.panel-group.publicaciones .panel {
    height: 17rem;
}
.progress-bar{
    padding-top: 0.2rem;
}
a.separador:hover{
    color:#555;
}
a{
    cursor: pointer;
}
a.editar:link, a.editar:visited {
    color: transparent;
}
a.editar:hover {
    color: transparent;
}
#fotoUsr{
    padding-top: 2rem;
}
.form-control{
    margin-bottom: 1rem;
}
#rolUsr{
    text-transform: uppercase;
}