.container{
    padding-top: 10rem;
    padding-bottom: 12rem;  
}
.imgUsr{
    height: 14rem;
}
.tituloBody{
    padding-top: 1rem;
}
.panel-default>.panel-heading { 
    height: 4rem;
}
.panel-group.publicaciones .panel {
    height: 14rem;
}
.accion{
    margin-top: -2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.progress-bar{
    padding-top: 0.2rem;
}
a.separador:hover{
    color:#555;
}
a{
    cursor: pointer;
}
a.editar:link, a.editar:visited {
    color: transparent;
}
a.editar:hover {
    color: transparent;
}
#fotoUsr{
    padding-top: 2rem;
}
.form-control{
    margin-bottom: 1rem;
}
#rolUsr{
    text-transform: uppercase;
}