.container{
    padding-top: 10rem;
    padding-bottom: 12rem;  
}
.imgUsr{
    height: 15rem;
}
.tituloBody{
    padding-top: 1rem;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #132a3d;
    border-color: #132a3d;
    height: 4rem;
}
.accion{
    margin-top: -2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.progress-bar{
    padding-top: 0.2rem;
}
a{
    cursor: pointer;
}
a:link, a:visited {
    color: transparent;
}
a:hover {
    color: transparent;
}
#fotoUsr{
    padding-top: 2rem;
}
.form-control{
    margin-bottom: 1rem;
}
#rolUsr{
    text-transform: uppercase;
}